<ion-view>
    <div class="modal">
        <ion-header-bar class="bar-energized">
            <h1 class="title">馬上使用</h1>
            <div class="buttons">
                <button class="button button-clear" ng-click="closeLogin()">Close</button>
            </div>
        </ion-header-bar>
        <ion-content class="has-header padding">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="帳號">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="密碼">
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-positive">
                        馬上登入
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button button-block button-positive" style="margin: 0 auto;border-color: #0D2A58;background-color: #3f5c9a;" ng-click="login()">
                        Facebook 登入
                    </button>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>
