<ion-view title="探索最佳地點">
    <ion-content class="has-header">

        <!--  search  -->
<!--         <div class="list list-inset" style="background:#ff0000;">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div> -->

        <div class="container">
            <a class="unit-33" ng-repeat="friend in friends" href="#/main/tab/friend/{{friend.id}}">
                <!-- <div class="mask"><div class="ion-icon ion-heart" data-pack="default" data-tags="love"></div></div> -->
                <img src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
            </a>
        </div>

    </ion-content>
</ion-view>
