<ion-view title="搖一搖">
  <ion-content class="has-header">
        <div class="row">
            <div class="col col-50">
                <div class="unit">
                    <div class="mask"><div class="ion-icon ion-heart" data-pack="default" data-tags="love"></div></div>
                    <img style="width:100%;height:100%;" src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
                </div>
            </div>
            <div class="col col-50">
                <img style="width:100%;height:100%;" src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <img style="width:100%;height:100%;" src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
            </div>
            <div class="col col-50">
                <img style="width:100%;height:100%;" src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <img style="width:100%;height:100%;" src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
            </div>
            <div class="col col-50">
                <img style="width:100%;height:100%;" src="http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg" alt="">
            </div>
        </div>

  </ion-content>
</ion-view>
