<ion-view title="探索最佳地點">
    <ion-content class="has-header" has-header="true" has-tabs="true" scroll-detector>
<!--         <ion-infinite-scroll on-infinite="loadMore()" >
        </ion-infinite-scroll> -->
        <ion-refresher pulling-text="探索中..." on-refresh="onRefresh()">
        </ion-refresher>
        <div class="container" on-reorder="onReorder(el, start, end)">
            <a class="unit-33" ng-repeat="friend in friends" href="#/main/tab/friend/{{friend.id}}">
                <img src="{{friend.image}}" onerror="this.src='http://photos-e.ak.instagram.com/hphotos-ak-xfp1/10533337_621326867964996_832962868_n.jpg'" alt="">
            </a>
        </div>
    </ion-content>
</ion-view>
