/* Empty. Add your own CSS if you like */

/* line 7, ../sass/main.scss */

.pane {
    background-color: #ffffff;
}
/* line 10, ../sass/main.scss */

.slider {
    height: 100%;
}
/* line 13, ../sass/main.scss */

.record {
    background: url("../img/b.jpg");
    background-size: auto 100%;
    background-position: center;
}
/* line 18, ../sass/main.scss */

.recommend {
    background: url("../img/c.jpg");
    background-size: auto 100%;
    background-position: 10%;
}
/* line 23, ../sass/main.scss */

.community {
    background: url("../img/spcial.jpg");
    background-size: auto 100%;
    background-position: center;
}
/* line 28, ../sass/main.scss */

.slides {
    height: 100%;
}

.wraper {
    position: relative;
}
.wrap {
    /*background-color:  rgba(250, 191, 41, 0.3);*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    margin: 8em 0.8em 2em .8em;
    padding: 2em;
}
.ion-icon-intro {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    border-radius: 4px;
    list-style: none;
    text-align: center;
    font-weight: normal;
    font-size: 60px;
    margin: 2.8em auto;
    color: #ffffff;
}
.slides h1 {
    margin: 2em 0 0 0;
    color: #ffffff;
    text-align: center;
}
.wrap p {
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
}

.row {
    /*padding: 0px;*/
}
.col {
    /*padding: 1px;*/
}
.ite {
    width: 100%;
}


/* menu */
.list {
    background-color: #000000;
}

/* index */

.index {
    background: url("http://bit.ly/1epg5F7");
    background-size: auto 105%;
    background-position: center;
}

/* 搖一搖 */
.container {
    margin: -1px;
    height: 100%;
}
.container:after {
    content: '';
    display: block;
    clear: both
}
.unit {
    position: relative;
    width: 50%;
    height: 160px;
    padding: 1px;
    float: left;
}

.unit img {
    width: 100%;
    height: 100%;
}
.unit-33 {
    position: relative;
    width: 33.3333%;
    height: 110px;
    padding: 1px;
    float: left;
}
.unit-33 img {
    width: 100%;
    height: 100%;
}
.ion-icon {
    position: relative;
    z-index: 0;
    margin: 0 auto;
    border-radius: 4px;
    list-style: none;
    text-align: center;
    font-weight: normal;
    font-size: 60px;
    margin: 0 auto;
    color: #ffffff;
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mask-2 {
    position: absolute;
    width: 101%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.3);
}


/* shake */
.scroll {
    height: 100%;
}

.row-photo {
    padding:0px;
    width:100%;
    height:25%;
    display: block;
    text-decoration: none;
}
.recommend_1 {
    background: url("../img/b.jpg");
    background-size:  100% auto;
    background-position: center;
}
.recommend_2 {
    background: url("../img/f.jpg");
    background-size:  100% auto;
    background-position: center;
}
.recommend_3 {
    background: url("../img/a.jpg");
    background-size:  100% auto;
    background-position: center;
}
.recommend_4 {
    background: url("../img/d.jpg");
    background-size:  100% auto;
    background-position: center;
}
.slogan {
    position: relative;
    text-align: center;
    line-height: 122px;
    font-size: 2em;
    color: #ffffff;
}


/* ion-camera */
.ion-camera {
    color: #ffffff;
}

.quote {
    padding: 1em;
    text-align: center;
    color: #ff0000;
    font-size: 1.5em;
}